.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.css-w4dm37-MuiPaper-root-MuiMobileStepper-root {
  margin: auto !important;
}

.income,
.deduction {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.income__form,
.deduction__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* border:1px solid rgb(214, 214, 214); */
  /* padding: 20px; */
  /* border-radius: 10px; */
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 80% !important;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: auto;
}

.results__block {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}